body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 50px;
  margin: 10px;
}

p {
  margin: 50px;
}
